@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  /* default row */
  display: flex;
  /* vertical center */
  align-items: center;
  /* creates space horizontally between the two items (h1 & nav) */
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* makes everything within navbar class stuck to the top (position fixed and top 0px) */
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  /* make list items display as row  */
  display: flex;
}

.navbar .logo {
  /* make more logo bold */
  font-weight: 400px;
}

/* Header */
.hero {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  /* cover whole page */
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  /* changing direction of grid to column */
  flex-direction: column;
  /* since column direction, moves horizontal/cross axis */
  align-items: center;
  /* aligns vertically/main axis*/
  justify-content: center;
  /* in order to center it vertically, we give it the height of its container (100vh) */
  height: 100%;
  padding: 0 20px;
}

.hero h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

/* creates transparent/faded background overlay */
/* pseudoselector ::after/before - allows us to insert content before the element */
.hero::before {
  content: '';
  /* we make this absolute because the parent is position relative  */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

/* any content in hero, higher z index will be closer to us, or in front  */
.hero * {
  z-index: 10;
}
